<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Enter a URL | structure.exposed</title>
    <meta name="description" content="$$projectFullDescription" />
    <link rel="author" href="humans.txt" />

    <link rel="stylesheet" href="main.css?rev={{timestamp}}" />
    <!-- TODO: icons and social -->
</head>
<body>
<main role="main">

<h1>structure.exposed</h1>

<form action="/proxy">

    <label for="url">
        Check a website’s underlying structure by resetting all styling to browser default.
        <input name="url" type="url" autocapitalize="off" placeholder="http://example.com">
    </label>

    <input type="submit">
</form>
Why?
</main>
<!-- TODO: Google Analytics -->
</body>
</html>
