<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>structure.exposed</title>
    <meta name="description" content="Check a website’s underlying anatomy by resetting all styling to browser default." />
    <link rel="author" href="humans.txt" />

    <link rel="stylesheet" href="main.css?rev=20161008" />
    <!-- TODO: icons and social -->
</head>
<body>
<main id="main" role="main">

<h1>structure.exposed</h1>

<form id="form" class="form" action="/proxy">

    <label for="form-url">
        Check a website’s underlying anatomy by resetting all styling to browser default.
        <input
            type="url"
            name="form-url"
            id="form-url"
            class="form__url"
            autocapitalize="off"
            placeholder="Type or paste a URL here" />
    </label>

    <input
        type="submit"
        name="form-button"
        id="form-button"
        class="form__button"
        value="Load" />
</form>
<a rel="external noopener" href="">Why?</a>
</main>
<!-- TODO: Google Analytics -->
</body>
</html>
