/* Document //////////////////////////////////////////////////////////////// */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    min-height: 100%;
    overflow-y: scroll;
    padding: 0;

    background-color: #ffffff;

    color: #4a4a4a;
    direction: ltr;
    font-family: "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-size-adjust: 100%;
}

body {
    height: 100vh;
    margin: 0 8vw;
    overflow-x: hidden;
    padding: 0;

    font-size: 1em;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

main {
    margin: auto;
    padding-bottom: 10vh;
}


/* Links /////////////////////////////////////////////////////////////////// */
a {
    color: #0074d9;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #ff4136;
}

a:visited {
    color: #b10dc9;
}


/* Titling ///////////////////////////////////////////////////////////////// */
.page__title {
    margin: 0;

    font-size: calc(1em + 7vw);
    letter-spacing: -1px;
}

.page__title::after {
    content: ".";
    opacity: 0;
}

/* Form //////////////////////////////////////////////////////////////////// */
.form__label {
    display: block;
    margin-top: 0.75em;

    font-size: calc(1em + 1.25vw);
}

.form__url {
    display: block;
    margin-top: 0.3em;
    padding: 0.45em 0.6em 0.5em 0.6em;
    width: 100%;

    border: 1px solid #c1c1c1;

    font-size: calc(1em + 1.5vw);

    transition: border-color 0.2s ease-in-out;
}

.form__url:hover {
    border-color: #4a4a4a;
}

.form__url:focus {
    color: #4a4a4a;
}

.form__button {
    margin-top: 0.75em;
    padding: 3vh 4vw;

    border: 0;

    background-color: #0074d9;

    color: #ffffff;
    font-size: calc(1em + 1vw);
    letter-spacing: 1px;

    transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
    background-color: #0066bf;
}

.form__button:active {
    padding: 4vh 4vw 2vh 4vw;

    -webkit-box-shadow: inset 0 0.4em 0 0 #004b8c;
    -moz-box-shadow: inset 0 0.4em 0 0 #004b8c;
    box-shadow: inset 0 0.4em 0 0 #004b8c;

    color: #c1c1c1;
}

.form__more-info {
    display: block;
    float: right;
    margin-top: 0.9em;

    font-size: calc(1em + 0.5vw);
    text-align: right;
}


/* Misc //////////////////////////////////////////////////////////////////// */
.kern {
    letter-spacing: -0.04em;
}


/* Media Queries /////////////////////////////////////////////////////////// */
@media screen and (max-width: 35em) {

/* Document */
    body {
        margin: 0 6vw;
    }

    main {
        padding-bottom: 0;
    }

/* Form */
    .form__label {
        margin-top: 1.25em;
    }

    .form__button {
        width: 100%;
    }

    .form__more-info {
        margin-top: 2em;
        width: 100%;

        text-align: center;
    }

}
